header {
  text-align: center;
}

table, th, td {
  border: 1px solid orangered
}


th, td {
  padding: 20px;
  text-align: left;
}

table{
  /* display: flex; */
  justify-content: center;
}

header {
  background-color: orangered;
  font-size: 50px;
  align-content: center;
}

footer {
  background-color: orangered;
}

fieldset {
  border: 1px solid orangered
}